<div class="row" >
        <div class="col-sm-12  col-md-6 col-md-offset-3">
            <div class="panel panel-primary" id="contactPage">
                <div class="panel-heading text-center">Contact ZAS Motors</div>
                <div class="panel-body">
                    <div class="form">
                        <div class="form-group form-group-sm">
                            <label >Frist Name</label>
                            <input  class="form-control input-sm" ng-model="vm.firstName">
                        </div>

                        <div class="form-group form-group-sm">
                            <label >Last Name</label>
                            <input  class="form-control input-sm" ng-model="vm.lastName">
                        </div>

                        <div class="form-group form-group-sm">
                            <label >Mobile Number</label>
                            <input  class="form-control input-sm" ng-model="vm.mobilePhone">
                        </div>
                        <div class="form-group form-group-sm">
                            <label >Email</label>
                            <input  class="form-control input-sm" ng-model="vm.email">
                        </div>
                        <div class="form-group form-group-sm">
                            <label >Street Address</label>
                            <input  class="form-control input-sm" ng-model="vm.streetAddress">
                        </div>
                        <div class="form-group form-group-sm">
                            <label >City</label>
                            <input  class="form-control input-sm" ng-model="vm.city">
                        </div>
                        <div class="form-group form-group-sm">
                            <label >State</label>
                            <input  class="form-control input-sm" ng-model="vm.state">
                        </div>
                        <div class="form-group form-group-sm">
                            <label >zip</label>
                            <input  class="form-control input-sm" ng-model="vm.zipCode">
                        </div>
                        <div class="form-group form-group-sm">
                            <label >Country</label>
                            <input  class="form-control input-sm" ng-model="vm.country">
                        </div>
						<div class="form-group form-group-sm">
                            <label>Notes</label>
                            <textarea class="form-control input-sm" ng-model="vm.note"></textarea>
                        </div>



                         <button type="submit" class="btn btn-primary">Submit</button>

					</div>
				</div> 
			</div>
		</div>
</div> 
