<!-- Navigation Bar -->
<pre></pre>
<nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" ui-sref="home">Home</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a ui-sref="home.inventory">Inventory</a></li>
            <li><a ui-sref="home.customer">Car Finder</a></li>
            <li><a >Specials</a></li>
            <li><a ui-sref="home.direction" >Directions</a></li>
            <li><a ui-sref="home.contact">Contact Us</a></li>
        </ul>
    </div>

</nav>
<!-- 
   <img class="image2" src="#app/styles/img/zasMotorsLogo.jpg"> 
-->

<p ui-view></p>


